.header-content {
  position: relative;
}

header img {
  max-width: 10%;
  float: right;
  padding-right: 5%;
  padding-top: 2%;
}

header h1 {
  display: inline-block;
  font-size: 5vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  margin: auto;
  padding-top: 5%;
  text-shadow: 2px 2px 8px black;
}

/* ham menu */ 

.wrapper {
  margin: auto;
  display: inline-block;
  position: relative;
  transition: all 133ms cubic-bezier(0.5, 0, 0, 1);
  padding-top: 8%;
}

ul {
  list-style: none;
}

.hamburger {
  margin: 0;
  padding: 6px 6px 7px 6px;
  position: relative;
  transition: all 133ms cubic-bezier(0.5, 0, 0, 1);
}

.hamburger li {
  width: 24px;
  height: 4px;
  background: #ddd;
  color: #ddd;
  margin: 2px 0 0;
  padding: 0;
  transform: translate3d(0, 0, 0);
  transition: all 133ms cubic-bezier(0.5, 0, 0, 1);
}

.hidden {
  position: absolute;
  opacity: 0;
  transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
}

.box {
  width: 10vw;
  padding: 26%;
  margin: 11%;
  height: 30px;
  background: #444;
  transition: all 533ms cubic-bezier(0.5, 0, 0, 1); 
}

.checked {
  background: #444;
}
.checked .hidden {
  opacity: 1;
  transform: translateY(5px);
}
.checked .box:last-child {
  transform: translateY(5px);
}

.link {
  width: 24px;
  height: 4px;
  color: #ddd;
  margin: 2px 0 0;
  padding: 0;
  transform: translate3d(0, 0, 0);
  transition: all 133ms cubic-bezier(0.5, 0, 0, 1);
  text-decoration: none;
}

/* book styles */
.bookstyles {
  background-color: #444;
  position: relative;
  text-align: center;
  font-size: 4vw;
  margin: 0;
  padding-top: 3%;
  text-shadow: 1px 1px 3px #202020;
}

.booktitle {
  font-style: italic;
  text-shadow: 1px 1px 3px #202020;
}

.detail {
  padding: 2% 10% 2% 10%;
  font-weight: bold;
  font-size: 3vw;
}

.book-container {
  margin: 0;
  padding: 0;
  border: 20px solid #444;
}

.view-title {
  text-align: center;
  font-weight: bold;
  font-size: 5vw;
  text-shadow: 2px 2px 8px black;
  padding: 4%;
}

/* book count */
.book-total {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
  color: #444;
  font-weight: bold;
}